.rootSpinner{
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    height: 40px;
    margin-top: 40px;
}

div:first-of-type.fragmentSpinner{
    position:absolute;
    border-radius:50%;
    border:6px solid rgba(255,255,255,.5);
    width:40px;
    height:40px;
}
div:last-of-type.fragmentSpinner{
    position:absolute;
    border-radius:50%;
    border:6px solid transparent;
    border-bottom-color: rgba(255,255,255,.5);
    width:40px;
    height:40px;
    animation: rotate .5s infinite linear;
}@keyframes rotate {
     from {transform: rotate(0);}
     to {transform: rotate(360deg);}
 }