.rootSpinner{
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    height: 40px;
    width: 40px;
    box-sizing:border-box;
}
div:first-of-type.fragmentSpinner{
    position:absolute;
    border-radius:50%;
    border:6px solid rgba(255,255,255,.5);
    width:100%;
    height:100%;
    box-sizing:inherit;
}
div:last-of-type.fragmentSpinner{
    position:absolute;
    border-radius:50%;
    border:6px solid transparent;
    border-bottom-color: rgba(255,255,255,.5);
    width:100%;
    height:100%;
    box-sizing:inherit;
    animation: rotate .5s infinite linear;
}
@keyframes rotate {
     from {transform: rotate(0);}
     to {transform: rotate(360deg);}
}